<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RentCar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.ch.action.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkcode</display-name>
    <servlet-name>Checkcode</servlet-name>
    <servlet-class>cn.ch.action.Checkcode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkcode</servlet-name>
    <url-pattern>/Checkcode</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.ch.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>DoSign</display-name>
    <servlet-name>DoSign</servlet-name>
    <servlet-class>cn.ch.action.DoSign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSign</servlet-name>
    <url-pattern>/DoSign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>cn.ch.action.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeUserInfo</display-name>
    <servlet-name>ChangeUserInfo</servlet-name>
    <servlet-class>cn.ch.action.ChangeUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserInfo</servlet-name>
    <url-pattern>/ChangeUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoReturn</display-name>
    <servlet-name>DoReturn</servlet-name>
    <servlet-class>cn.ch.action.DoReturn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoReturn</servlet-name>
    <url-pattern>/DoReturn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCar</display-name>
    <servlet-name>DelCar</servlet-name>
    <servlet-class>cn.ch.action.DelCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCar</servlet-name>
    <url-pattern>/DelCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>cn.ch.action.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deluser</display-name>
    <servlet-name>Deluser</servlet-name>
    <servlet-class>cn.ch.action.Deluser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deluser</servlet-name>
    <url-pattern>/Deluser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateMailCode</display-name>
    <servlet-name>CreateMailCode</servlet-name>
    <servlet-class>cn.ch.action.CreateMailCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateMailCode</servlet-name>
    <url-pattern>/CreateMailCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>cn.ch.action.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUserInfo</display-name>
    <servlet-name>SaveUserInfo</servlet-name>
    <servlet-class>cn.ch.action.SaveUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUserInfo</servlet-name>
    <url-pattern>/SaveUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSign</display-name>
    <servlet-name>UserSign</servlet-name>
    <servlet-class>cn.ch.action.UserSign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSign</servlet-name>
    <url-pattern>/UserSign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrder</display-name>
    <servlet-name>AddOrder</servlet-name>
    <servlet-class>cn.ch.action.AddOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrder</servlet-name>
    <url-pattern>/AddOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeCarinfo</display-name>
    <servlet-name>ChangeCarinfo</servlet-name>
    <servlet-class>cn.ch.action.ChangeCarinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCarinfo</servlet-name>
    <url-pattern>/ChangeCarinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>cn.ch.util.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCar</display-name>
    <servlet-name>AddCar</servlet-name>
    <servlet-class>cn.ch.action.AddCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCar</servlet-name>
    <url-pattern>/AddCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCarinfo</display-name>
    <servlet-name>GetCarinfo</servlet-name>
    <servlet-class>cn.ch.action.GetCarinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCarinfo</servlet-name>
    <url-pattern>/GetCarinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Changepwd</display-name>
    <servlet-name>Changepwd</servlet-name>
    <servlet-class>cn.ch.action.Changepwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Changepwd</servlet-name>
    <url-pattern>/Changepwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page</display-name>
    <servlet-name>Page</servlet-name>
    <servlet-class>cn.ch.util.Page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page</servlet-name>
    <url-pattern>/Page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logfile</display-name>
    <servlet-name>Logfile</servlet-name>
    <servlet-class>cn.ch.action.Logfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logfile</servlet-name>
    <url-pattern>/Logfile</url-pattern>
  </servlet-mapping>
</web-app>